<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UserRoleMapper">
    <select id="getUSerRolesById" resultType="com.example.pojo.User">
        select r.* from sys_role r,sys_role hrr where hrr.roleid=r.id and hrr.userid=#{id}
    </select>

</mapper>